@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  font-family: Montserrat;
  position: relative;
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: black;
  transition: width .3s ease;
}



.cursor {
  width: 30px ;
  height: 30px ;
  border-radius: 100%;
  border: 1px solid white !important;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 999;
}

.cursor2 {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #fff;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
  transition: width .3s, height .3s, opacity .3s;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}